<!-- <div>
  <button disabled
    class="btn btn-danger"
    (click)="text_color = 'text-danger'"
  >Color rojo</button>
  <button disabled
    class="btn btn-success mx-2"
    (click)="text_color = 'text-success'"
  >Color verde</button>
  <button disabled
    class="btn btn-primary"
    (click)="text_color = 'text-primary'"
  >Color azul</button>
</div>

<hr>

<div>
  <button [disabled]="true"
    class="btn btn-danger"
    (click)="text_color = 'text-danger'"
  >Color rojo</button>
  <button [disabled]="true"
    class="btn btn-success mx-2"
    (click)="text_color = 'text-success'"
  >Color verde</button>
  <button [disabled]="true"
    class="btn btn-primary"
    (click)="text_color = 'text-primary'"
  >Color azul</button>
</div>

<hr>

<div>
  <button [disabled]="button_disabled"
    class="btn btn-danger"
    (click)="text_color = 'text-danger'"
  >Color rojo</button>
  <button [disabled]="button_disabled"
    class="btn btn-success mx-2"
    (click)="text_color = 'text-success'"
  >Color verde</button>
  <button [disabled]="button_disabled"
    class="btn btn-primary"
    (click)="text_color = 'text-primary'"
  >Color azul</button>
</div>

<p class="mt-3">Texto que va a cambiar de color</p>

<button class="btn btn-secondary"
  (click)="button_disabled = !button_disabled"
>Activar/Desactivar</button>

<hr> -->

<div>
  <button class="btn btn-primary" (click)="src = src_1"
  >Imagen 1</button>
  <button class="btn btn-danger" (click)="src = src_2"
  >Imagen 2</button>
</div>

<img [src]="src" alt="">
