<ul>
  <li *ngFor="let persona of personas">
    {{ persona.nombre + ' (' + persona.edad + ')' }}
  </li>
</ul>

<hr>

<ul>
  <li *ngFor="let persona of personas">
    {{ persona.nombre}} ({{ persona.edad }})
  </li>
</ul>

<hr>

<ul>
  <li *ngFor="let persona of personas; let i = index">
    {{ i + 1 }} - {{ persona.nombre}} ({{ persona.edad }})
  </li>
</ul>
