<!-- Estructura en común. -->
<h1>Contacto</h1>

<!-- Estruactura que muestra un contenido diferente. -->
<!-- Con router-outlet especificamos dónde queremos que se 
rendericen todas las rutas hijas de la ruta principal contacto.
  Cualquier ruta hija que tenga ésta ruta principal se va a 
renderiazar en ésta parte. -->
<router-outlet></router-outlet>