<div class="card">
  <div class="card-body">
    <form [formGroup]="formUser" (ngSubmit)="procesar()">
      <div class="mb-2">
        <label class="form-label"> Nombre </label>
        <input type="text" class="form-control" 
          placeholder="Ingresa tu nombre"
          formControlName="name">

        <div class="alert alert-danger mt-2"
          [hidden]="name.value || name.pristine">
          El nombre es obligatorio
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label"> Email </label>
       
        <input type="email" class="form-control"
          placeholder="Ingresa tu email"
          formControlName="email">

        <div class="alert alert-danger mt-2"
          [hidden]="email.valid || email.pristine">
          <span *ngIf="email.errors?.['required']">
            El email es obligatorio
          </span>
          <span *ngIf="email.errors?.['email']">
            El email debe ser válido
          </span>
        </div>
      </div>
  
      <button class="btn btn-primary"
        [disabled]="formUser.invalid">
        Enviar
      </button>
    </form>
  </div>
</div>
