<form (ngSubmit)="addMessage()">
  <label class="form-label">Ingresa un mensaje</label>
  <input type="text" class="form-control" name="message"
    placeholder="Ingresa un mensaje"
    [(ngModel)]="message">
  <button class="btn btn-primary mt-2 mb-4">
    Agregar
  </button>
</form>

<!-- {{ message | json }}
<br>
{{ messagesService.messages | json }} -->
