<div class="card">
  <div class="card-body">
    <!-- Para acceder al estado de los formularios le añadimos una 
    variable de plantilla.
        #nombre_formulario="ngForm" -->
    <form (ngSubmit)="procesar()" #formContact="ngForm">
      <div class="mb-2">
        <label class="form-label">Nombre</label>
        <!-- required + #name="ngModel" -->
        <input type="text" name="nombre" class="form-control"
          placeholder="Ingresa tu nombre"
          [(ngModel)]="persona.nombre"
          required
          #name="ngModel">
        <div class="alert alert-danger mt-2 "
          [hidden]="name.valid || name.pristine">
          El nombre es obligatorio
        </div>
      </div>
  
      <div>
        <label class="form-label">Edad:</label>
        <!-- required + #edad="ngModel" -->
        <input type="number" name="edad" class="form-control"
          placeholder="Ingresa tu edad"
          [(ngModel)]="persona.edad"
          required
          #edad="ngModel">
        <div class="alert alert-danger mt-2"
          [hidden]="edad.valid || edad.pristine">
          La edad es obligatoria.
        </div>
      </div>

      <!-- [disabled]="!name.valid"> -->
      <!-- [disabled]="name.invalid || edad.invalid"  // Incómodo 
      si tengo muchos inputs. -->
      <!-- De ésta manera evitamos tener que estár revisando el 
      estado individual de cada uno de los inputs, si no que 
      simplemente, analizamos el estado del formulario por 
      completo.
          [disabled]="!formContact.valid"
          [disabled]="formContact.invalid" -->
      <button class="btn btn-primary mt-2"
        [disabled]="formContact.invalid">
        Enviar
      </button>
    </form>
  </div>
</div>

{{ formContact.valid }}
