<!-- Algo a considerar es que los números se evalúan sin problema 
  (los números se suelen colocar así, sin más).
    <span *ngSwitchCase="1">Lunes</span>    // ES VÁLIDO -->
<div [ngSwitch]="dia">
  <span *ngSwitchCase="1">Lunes</span>
  <span *ngSwitchCase="2">Martes</span>
  <span *ngSwitchCase="3">Miercoles</span>
  <span *ngSwitchCase="4">Jueves</span>
  <span *ngSwitchCase="5">Viernes</span>
  <span *ngSwitchCase="6">Sabado</span>
  <span *ngSwitchCase="7">Domingo</span>
  <span *ngSwitchDefault>Valor no válido</span>
</div>

<hr>

<!-- En los casos que necesitemos evaluar una cadena, no podemos 
  poner la cadena sin más, si no, que tenemos que encerrarla 
  entre comillas simples, porque cualquier cosa que coloquemos 
  centro de las comillas dobles deben ser expresiones js válidas.
    <span *ngSwitchCase="uno">Lunes</span>    // NO ES VÁLIDO
    <span *ngSwitchCase="'uno'">Lunes</span>  // ES VÁLIDO
  Si vamos a evaluar cadenas, asegurarse de ponerle comillas
  simples. -->
  <input type="text" class="form-control" #newDay>
  <button class="btn btn-primary mt-2 mb-4"
    (click)="dia = newDay.value"
  >
    Mostrar día
  </button>

<!-- Con la directiva *ngIf="dia" ya no nos aparece el mensaje
  "Valor no válido". Éste mensaje solo aparecerá en el caso de 
  que tengamos algo almacenado en la variable dia y éste algo no 
  coincida con ninguno de los casos que hemos especificado
  ('1'...'7').  -->
  <div [ngSwitch]="dia" *ngIf="dia">
    <span *ngSwitchCase="'1'">Lunes</span>
    <span *ngSwitchCase="'2'">Martes</span>
    <span *ngSwitchCase="'3'">Miercoles</span>
    <span *ngSwitchCase="'4'">Jueves</span>
    <span *ngSwitchCase="'5'">Viernes</span>
    <span *ngSwitchCase="'6'">Sabado</span>
    <span *ngSwitchCase="'7'">Domingo</span>
    <span *ngSwitchDefault>Valor no válido</span>
  </div>
