<input #name
  type="text"
  placeholder="Ingresa tu nombre" 
  class="form-control"
>

<button class="btn btn-primary mt-2"
  (click)="mostrar_en_consola(name.value)"
>
  Mostrarr en consola
</button>

<!-- Directiva *ngIf:
  No oculta el elemento, si no que, lo elimina del DOM.
-->
<div class="alert alert-primary mt-4" *ngIf="openAlert; else mensaje">
  Se ha enviado el mensaje
  <button class="btn btn-danger" (click)="openAlert = false"
  >x</button>
</div>

<ng-template #mensaje>
  <div class="alert alert-danger mt-4">
    Mensaje de prueba
  </div>
</ng-template>
