<button (click)="numero = numero - 1">
  -
</button>

<span>{{ numero }}</span>

<button (click)="numero = numero + 1">
  +
</button>

<!-- Expresines que no puedo utilizar:
  <button (click)="numero++">       // Da error.
  <button (click)="numero += 1">    // Da error.
-->

<hr>
<button (click)="decrementar()">
  -
</button>

<span>{{ numero_2 }}</span>

<button (click)="incrementar()">
  +
</button>